@import "resources/assets/sass/variable-overrider";
@import "bower_components/lato/scss/lato";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.pd-4 { padding: 4px; }
.pd-8 { padding: 8px; }
.pd-16 { padding: 16px; }
.pd-32 { padding: 32px; }
.pd-64 { padding: 64px; }
.pd-128 { padding: 128px; }

.pd-top-4 { padding-top: 4px; }
.pd-top-8 { padding-top: 8px; }
.pd-top-16 { padding-top: 16px; }
.pd-top-32 { padding-top: 32px; }
.pd-top-64 { padding-top: 64px; }
.pd-top-128 { padding-top: 128px; }

.pd-bottom-4 { padding-bottom: 4px; }
.pd-bottom-8 { padding-bottom: 8px; }
.pd-bottom-16 { padding-bottom: 16px; }
.pd-bottom-32 { padding-bottom: 32px; }
.pd-bottom-64 { padding-bottom: 64px; }
.pd-bottom-128 { padding-bottom: 128px; }

.pd-left-4 { padding-left: 4px; }
.pd-left-8 { padding-left: 8px; }
.pd-left-16 { padding-left: 16px; }
.pd-left-32 { padding-left: 32px; }
.pd-left-64 { padding-left: 64px; }
.pd-left-128 { padding-left: 128px; }

.pd-right-4 { padding-right: 4px; }
.pd-right-8 { padding-right: 8px; }
.pd-right-16 { padding-right: 16px; }
.pd-right-32 { padding-right: 32px; }
.pd-right-64 { padding-right: 64px; }
.pd-right-128 { padding-right: 128px; }

.mg-4 { margin: 4px; }
.mg-8 { margin: 8px; }
.mg-16 { margin: 16px; }
.mg-32 { margin: 32px; }
.mg-64 { margin: 64px; }
.mg-128 { margin: 128px; }

.mg-top-4 { margin-top: 4px; }
.mg-top-8 { margin-top: 8px; }
.mg-top-16 { margin-top: 16px; }
.mg-top-32 { margin-top: 32px; }
.mg-top-64 { margin-top: 64px; }
.mg-top-128 { margin-top: 128px; }

.mg-bottom-4 { margin-bottom: 4px; }
.mg-bottom-8 { margin-bottom: 8px; }
.mg-bottom-16 { margin-bottom: 16px; }
.mg-bottom-32 { margin-bottom: 32px; }
.mg-bottom-64 { margin-bottom: 64px; }
.mg-bottom-128 { margin-bottom: 128px; }

.mg-left-4 { margin-left: 4px; }
.mg-left-8 { margin-left: 8px; }
.mg-left-16 { margin-left: 16px; }
.mg-left-32 { margin-left: 32px; }
.mg-left-64 { margin-left: 64px; }
.mg-left-128 { margin-left: 128px; }

.mg-right-4 { margin-right: 4px; }
.mg-right-8 { margin-right: 8px; }
.mg-right-16 { margin-right: 16px; }
.mg-right-32 { margin-right: 32px; }
.mg-right-64 { margin-right: 64px; }
.mg-right-128 { margin-right: 128px; }
