// Themify override
$themify-font-path:       "../fonts/themify";

// Lato override
$lato-font-path:          "../fonts/lato";

// Bootstap override
$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       "Lato", Georgia, "Times New Roman", Times, serif;
